# ignore pythom build files
**build/
**__pycache__
**.c

# ignore test files and folders

# ignore testdata directory
**test*/
**test.*
**test_*
**TEST*/
**test*
**Test*

# ignore data directories
**Data/
**data/
**DATA/

# ignore figure directories
**Fig/
**Figs/
**fig/
**figs/
**figures/
**Figures/

# ignore egg-info directory
**.egg-info/

# sampling methods
**sample_*.py

# todo
**todo

# ignore unittests
**unittest*

# ignore old 
**old/
**old*/
**Old/
**Old*/
**OLD/
**OLD*/

# ignore specs
**docs/
